@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(22, 21, 21);
    font-family: 'Roboto Slab', serif;
}

header {
    position: fixed;
}

header nav {
    background-color: rgb(22, 21, 21);
}

.container .navbar-brand {
    font-size: 1.7rem;
    font-weight: 700;
    color: #C5C6C7;
}
.container .navbar-brand span {
    color: #00ffee;
}

.container button {
    border: none;
}
.container button span {
    background-color: #C5C6C7;
    border-radius: 2px;
    font-size: 20px;
    border: none;
}
#navbarNav ul a {
    color: #00ffee;
    font-size: 20px;
}

#home {
    display: flex;
    height: 100vh;  
    color: #00ffee; 
}

#home h1 {
    color: #00ffee;
    margin-top: 6rem;
    font-size: 2.5rem;
}

#home h2 {
    color: #C5C6C7;
    font-size: 30px;
}

#home i {
    font-size: 27px;
    margin-top: 50px;
    color: #00ffee;
    padding: 5px;
}
#contact h1 {
    color: #00ffee;
}

#contact label {
    color: #C5C6C7;
}

#contact input {
    background-color: transparent;
    color: white;
    border: solid 2px #00ffee;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #00ffee;
    box-shadow: 0px 1px 1px rgba(18, 255, 89, 0.075) inset, 0px 0px 8px rgba(25, 255, 148, 0.5);
}
#contact textarea {
    background-color: transparent;
    color: white;
    border: solid 2px #00ffee;
    border-radius: 5px;
}

#contact button {
    background-color: #00ffee;
    color: black;
    border-radius: 5px;
}

footer {
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
}

footer h6 {
    color: #00ffee;
    background-color: transparent;
}
